carwaleweb/Cawale.BL/Service References/PolicyBoss/SmartQuote.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartQuote" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PolicyBoss" />
      <xsd:import schemaLocation="http://uat.policyboss.com/SmartQuote.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartQuote_GetMotorQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetMotorQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetMotorQuotePartner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorQuotePartner" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetMotorQuotePartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMotorQuotePartnerResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_TravelQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:TravelQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_TravelQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:TravelQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetTravelQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetTravelQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_HealthQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:HealthQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_HealthQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:HealthQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetHealthQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHealthQuote" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_GetHealthQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHealthQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_get_model_InputMessage">
    <wsdl:part name="parameters" element="tns:get_model" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_get_model_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_modelResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Variant_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Variant" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Variant_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_VariantResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Make_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Make" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Make_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_MakeResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Vechical_city_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Vechical_city" />
  </wsdl:message>
  <wsdl:message name="ISmartQuote_Get_Vechical_city_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Vechical_cityResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartQuote">
    <wsdl:operation name="GetMotorQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/GetMotorQuote" message="tns:ISmartQuote_GetMotorQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/GetMotorQuoteResponse" message="tns:ISmartQuote_GetMotorQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMotorQuotePartner">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/GetMotorQuotePartner" message="tns:ISmartQuote_GetMotorQuotePartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/GetMotorQuotePartnerResponse" message="tns:ISmartQuote_GetMotorQuotePartner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/GetQuote" message="tns:ISmartQuote_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/GetQuoteResponse" message="tns:ISmartQuote_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TravelQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/TravelQuote" message="tns:ISmartQuote_TravelQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/TravelQuoteResponse" message="tns:ISmartQuote_TravelQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravelQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/GetTravelQuote" message="tns:ISmartQuote_GetTravelQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/GetTravelQuoteResponse" message="tns:ISmartQuote_GetTravelQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HealthQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/HealthQuote" message="tns:ISmartQuote_HealthQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/HealthQuoteResponse" message="tns:ISmartQuote_HealthQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHealthQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/GetHealthQuote" message="tns:ISmartQuote_GetHealthQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/GetHealthQuoteResponse" message="tns:ISmartQuote_GetHealthQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_model">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/get_model" message="tns:ISmartQuote_get_model_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/get_modelResponse" message="tns:ISmartQuote_get_model_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Variant">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/Get_Variant" message="tns:ISmartQuote_Get_Variant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/Get_VariantResponse" message="tns:ISmartQuote_Get_Variant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Make">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/Get_Make" message="tns:ISmartQuote_Get_Make_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/Get_MakeResponse" message="tns:ISmartQuote_Get_Make_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Vechical_city">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartQuote/Get_Vechical_city" message="tns:ISmartQuote_Get_Vechical_city_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartQuote/Get_Vechical_cityResponse" message="tns:ISmartQuote_Get_Vechical_city_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartQuote" type="tns:ISmartQuote">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMotorQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/GetMotorQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMotorQuotePartner">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/GetMotorQuotePartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/TravelQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/GetTravelQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/HealthQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHealthQuote">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/GetHealthQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_model">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/get_model" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Variant">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/Get_Variant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Make">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/Get_Make" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Vechical_city">
      <soap:operation soapAction="http://tempuri.org/ISmartQuote/Get_Vechical_city" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartQuote">
    <wsdl:port name="BasicHttpBinding_ISmartQuote" binding="tns:BasicHttpBinding_ISmartQuote">
      <soap:address location="http://uat.policyboss.com/SmartQuote.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>