Bikewale.RabbitMq.LeadProcessingConsumer/Web References/RoyalEnfieldWebAPI/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="affiliates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dealer_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bike_Detail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Web_link" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tocken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UTM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="affiliatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="affiliatesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Landing_page">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dealer_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Bike_Detail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Web_link" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tocken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UTM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Landing_pageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Landing_pageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Organic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Motorcycle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dealer_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="When_do_plan_to_buy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Web_link" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tocken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UTM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrganicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrganicResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="affiliatesSoapIn">
    <wsdl:part name="parameters" element="tns:affiliates" />
  </wsdl:message>
  <wsdl:message name="affiliatesSoapOut">
    <wsdl:part name="parameters" element="tns:affiliatesResponse" />
  </wsdl:message>
  <wsdl:message name="Landing_pageSoapIn">
    <wsdl:part name="parameters" element="tns:Landing_page" />
  </wsdl:message>
  <wsdl:message name="Landing_pageSoapOut">
    <wsdl:part name="parameters" element="tns:Landing_pageResponse" />
  </wsdl:message>
  <wsdl:message name="OrganicSoapIn">
    <wsdl:part name="parameters" element="tns:Organic" />
  </wsdl:message>
  <wsdl:message name="OrganicSoapOut">
    <wsdl:part name="parameters" element="tns:OrganicResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="affiliatesHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="Bike_Detail" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="affiliatesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Landing_pageHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="Bike_Detail" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Landing_pageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="OrganicHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="Motorcycle" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="When_do_plan_to_buy" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OrganicHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="affiliatesHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="Bike_Detail" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="affiliatesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Landing_pageHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="Bike_Detail" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Landing_pageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="OrganicHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="EMail" type="s:string" />
    <wsdl:part name="Motorcycle" type="s:string" />
    <wsdl:part name="Dealer_Name" type="s:string" />
    <wsdl:part name="When_do_plan_to_buy" type="s:string" />
    <wsdl:part name="Web_link" type="s:string" />
    <wsdl:part name="Tocken" type="s:string" />
    <wsdl:part name="UTM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="OrganicHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <wsdl:input message="tns:affiliatesSoapIn" />
      <wsdl:output message="tns:affiliatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <wsdl:input message="tns:Landing_pageSoapIn" />
      <wsdl:output message="tns:Landing_pageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <wsdl:input message="tns:OrganicSoapIn" />
      <wsdl:output message="tns:OrganicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <wsdl:input message="tns:affiliatesHttpGetIn" />
      <wsdl:output message="tns:affiliatesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <wsdl:input message="tns:Landing_pageHttpGetIn" />
      <wsdl:output message="tns:Landing_pageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <wsdl:input message="tns:OrganicHttpGetIn" />
      <wsdl:output message="tns:OrganicHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <wsdl:input message="tns:affiliatesHttpPostIn" />
      <wsdl:output message="tns:affiliatesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <wsdl:input message="tns:Landing_pageHttpPostIn" />
      <wsdl:output message="tns:Landing_pageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <wsdl:input message="tns:OrganicHttpPostIn" />
      <wsdl:output message="tns:OrganicHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <soap:operation soapAction="http://tempuri.org/affiliates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <soap:operation soapAction="http://tempuri.org/Landing_page" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <soap:operation soapAction="http://tempuri.org/Organic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <soap12:operation soapAction="http://tempuri.org/affiliates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <soap12:operation soapAction="http://tempuri.org/Landing_page" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <soap12:operation soapAction="http://tempuri.org/Organic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <http:operation location="/affiliates" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <http:operation location="/Landing_page" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <http:operation location="/Organic" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="affiliates">
      <http:operation location="/affiliates" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Landing_page">
      <http:operation location="/Landing_page" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Organic">
      <http:operation location="/Organic" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://crc.cequitycti.com/RoyalEnfield/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://crc.cequitycti.com/RoyalEnfield/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://crc.cequitycti.com/RoyalEnfield/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://crc.cequitycti.com/RoyalEnfield/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>