carwaleweb/Cawale.BL/Service References/HDFC_Bank_C2T_Adapt/HDFC_Bank_C2T_Adapt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="First_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Last_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pan_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_address3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resi_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resi_City_other" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resi_City_other1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="res_pin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Company_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Emp_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Monthly_income" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="card_held" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Promo_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LEAD_DATE_TIME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRODUCT_APPLIED_FOR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="existingcust" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoanAmt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YrsinEmp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emi_paid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="car_make" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="car_model" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfLoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP_Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indigo_UniqueKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indigo_RequestFromYesNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_Std" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Res_Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alt_Mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Alt_Mobile1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Off_std" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Off_phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Off_phoneext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Card_Limit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Card_Bankname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDFC_Acc_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDFC_Cust_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rnd_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PromoCode_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receivedSaBank" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurrogateType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CampaignID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="YrsinRes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="current_loan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Exp_purch_month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Exp_purch_year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name_reqd_on_card" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Confirm_HDFCEmpl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDFC_Salaryacc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDFC_Empid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HDFC_Staffgrade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstannualfee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondannualfee" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddDetails" />
  </wsdl:message>
  <wsdl:message name="AddDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="HDFC_Bank_C2T_AdaptSoap">
    <wsdl:operation name="AddDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indigo_RequestFromYesNo::Direct Request:yes,From Scheduler:no&lt;br&gt;&lt;br&gt;DateOfBirth(Format:d/M/yyyy)&lt;br&gt;&lt;br&gt;LEAD_DATE_TIME(Format:yyyy/M/d h:m:s tt)</wsdl:documentation>
      <wsdl:input message="tns:AddDetailsSoapIn" />
      <wsdl:output message="tns:AddDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HDFC_Bank_C2T_AdaptSoap" type="tns:HDFC_Bank_C2T_AdaptSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDetails">
      <soap:operation soapAction="http://tempuri.org/AddDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HDFC_Bank_C2T_AdaptSoap12" type="tns:HDFC_Bank_C2T_AdaptSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDetails">
      <soap12:operation soapAction="http://tempuri.org/AddDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HDFC_Bank_C2T_Adapt">
    <wsdl:port name="HDFC_Bank_C2T_AdaptSoap" binding="tns:HDFC_Bank_C2T_AdaptSoap">
      <soap:address location="https://leads.hdfcbank.com/HDFC_Bank_C2T_Adapt/HDFC_Bank_C2T_Adapt.asmx" />
    </wsdl:port>
    <wsdl:port name="HDFC_Bank_C2T_AdaptSoap12" binding="tns:HDFC_Bank_C2T_AdaptSoap12">
      <soap12:address location="https://leads.hdfcbank.com/HDFC_Bank_C2T_Adapt/HDFC_Bank_C2T_Adapt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>